In [1]:
import numpy as np
import pandas as pd

In [11]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [5]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [6]:
inside

[1, 2, 3, 1, 2, 3]

In [7]:
list(zip(outside,inside)) # creates a list of tuples in the order of the variables in zip

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [12]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [14]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1  0.328981 -1.208116
   2 -0.751909  1.394018
   3  0.976746 -1.248541
G2 1 -0.581629  0.860873
   2 -0.124663  1.281674
   3 -0.402367 -1.363616

In [15]:
df.loc['G1']

          A         B
1  0.328981 -1.208116
2 -0.751909  1.394018
3  0.976746 -1.248541

In [16]:
df.loc['G1'].loc[1]

A    0.328981
B   -1.208116
Name: 1, dtype: float64

In [17]:
df.index.names

FrozenList([None, None])

In [18]:
df.index.names = ['Groups','Num']

In [19]:
df

                   A         B
Groups Num
G1     1    0.328981 -1.208116
       2   -0.751909  1.394018
       3    0.976746 -1.248541
G2     1   -0.581629  0.860873
       2   -0.124663  1.281674
       3   -0.402367 -1.363616

In [20]:
df.loc['G2'].loc[2]['B']

1.2816738859260788

In [21]:
df.loc['G1'].loc[2]['A']

-0.7519091161735789

In [22]:
df.xs('G1')

            A         B
Num
1    0.328981 -1.208116
2   -0.751909  1.394018
3    0.976746 -1.248541